<!DOCTYPE html>
<html lang="en">
    <%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <section>
        <div class="container">
            <div>
                <!-- <img src="/static/img1.png" alt=""> -->
            </div>  
        </div>
    </section>
</body>
</html>